body{
  background-color:blue;
  font-size:62.5%
}

.column-one{
  width:31%;
  margin:1%;
  display:inline-block;
}

h1{
  color:white;
  font-size:1.5em
}

.first-name{

}

.last-name{

}

.email-address{

}

.country{

}

.biography{

}

.column-two{
  width:31%;
  margin:1%;
  display:inline-block;
}


.column-three{
  width:31%;
  margin:1%;
  display:inline-block;
}
